@import url(https://fonts.googleapis.com/css?family=Raleway:300,400);

:root {
/* 	--main-link-color: rgb(  0, 75,112); */
/* 	--main-link-color: rgb(  0, 75, 50); */
	--main-link-color: rgb(  0, 76, 89);
/* 	--main-link-color: rgb( 94,  0, 48); */
	--main-text-color: rgb( 33, 33, 33);
}

body { 
	font-family: 'Raleway', sans-serif;
	max-width: 800px;
	margin: 0 auto; /*this will cause the div to be in the center*/
}

nav {
	color: var(--main-link-color);
}

a {
	text-decoration: none; 
	color: var(--main-link-color); 
}

a:hover {
	text-decoration: none;
	color: var(--main-link-color);
}

p, ul { 
	font-size: 14px; 
	line-height: 1.4em; 
	color: var(--main-text-color); 
}

h1, h2, h3, h4 { 
	font-family: 'Raleway', sans-serif;
	color: var(--main-text-color); 
}

h1 { 
	font-size: 22px;  
}
h2 { 
	font-size: 18px; 
}
h3 { 
	font-size: 14px; 
}

nav ul, footer ul { 
	font-size: 1em; 
	font-family: 'Raleway', sans-serif;
	padding: 0px; 
	list-style: none; 
	font-weight: bold; 
}

nav ul li, footer ul li { 
	display: inline; 
	margin-right: 20px; 
}

nav li a.active {
	padding-bottom: 5px;
	border-bottom: 1px solid;
}

hr {
	margin: 20px 0;
	border: 1px solid #ccc;
}

footer { 
	border-top: 1px solid #ccc; 
	font-size: 14px; 
}

/* Blog */
ul.posts { 
	margin: 20px auto 40px; 
	font-size: 14px; 
}
ul.posts li { 
	list-style: none; 
}

/* CV */
.cv { 
	margin: 0px 0px 60px; 
}
.cv h1 { 
	font-size: 22px; 
}
.cv h2 { 
	font-size: 18px; 
}
.cv address, .cv .download { 
	font-family: 'Raleway', sans-serif;
}
.cv address, .cv p { 
	font-size: 14px; 
}
.cv .download { 
	float: right; 
	font-size: 12px; 
	text-transform: none; 
}

table, th, td {
	font-family: 'Raleway', sans-serif;
	font-size: 14px; 
	vertical-align: top;
	text-align: left;
}
