<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/" {% if current[1] == 0 %} class="active" {% endif %}>Home</a></li>
<li><a href="/about" {% if current[1] == 'about' %} class="active" {% endif %}>About</a></li>
<li><a href="/publications" {% if current[1] == 'publications' %} class="active" {% endif %}>Publications and talks</a></li>
<li><a href="/code" {% if current[1] == 'code' %} class="active" {% endif %}>Code</a></li>
<li><a href="/teaching" {% if current[1] == 'teaching' %} class="active" {% endif %}>Teaching</a></li>
<li><a href="/blog" {% if current[1] == 'blog' %} class="active" {% endif %}>Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:fa.evrard@gmail.com">email</a></li>
   <li><a href="https://github.com/fabienevrard">github.com/fabienevrard</a></li>
   </ul>
  </footer>
  </body>

</html>
